<%- include('./inc/header.ejs', {
title: title,
isLoggedIn: false
})  %>
    <div class="container">
        <h1>Page Not Found</h1>
        <% if(message){ %>
            <h6><%= message %></h6>
        <% } %>
    </div>
<%- include('./inc/footer.ejs')  %>