<%- include('./inc/header.ejs', {
title: title,
isLoggedIn: false
})  %>
<div class="row m-5">
    <div class="col-12 col-md-6 offset-md-3">
        <form id="loginForm" class="login-form" novalidate autocomplete="off">
            <h6 class="d-none" id="error-msg"></h6>
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" type="text" name="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password"/>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input class="form-control" id="image" type="text" name="imageUrl"/>
            </div>
            <div class="form-group mb-4">
                <label for="userRole">Role</label>
                <select id="userRole" class="form-control">
                    <%
                        for(let i = 0; i < roles.length; i++){
                    %>
                        <option><%= roles[i].name %></option>
                    <%
                        }
                    %>
                </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="trySignUp()">Sign Up</button>
        </form>

    </div>
</div>
<style>
    input{
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }
    #error-msg{
        color: red;
        background-color: #FAC5C5FF;
        padding: 8px;
        border-radius: 5px;
    }
</style>
<script>
    function trySignUp(){
        document.getElementById('error-msg').classList.add('d-none');
        let user = document.getElementById('username').value;
        let pass = document.getElementById('password').value;
        let image = document.getElementById('image').value;
        let userRole = document.getElementById('userRole').value

        fetch('http://localhost:3000/signup',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: user,
                password: pass,
                imageUrl: image,
                user_role: userRole
            })
        }).then(response => {
            console.log(response);
            return response.json();
        }).then(data => {
            console.log(data);
            if(data.status === 201){
                document.getElementById('error-msg').classList.remove('d-none');
                document.getElementById('error-msg').style.backgroundColor = '#aaffb3';
                document.getElementById('error-msg').style.color = 'green';
                document.getElementById('error-msg').textContent = data.message;
                setTimeout(()=>{
                    window.location.replace('http://localhost:4000/login');
                }, 3000);
            }else{
                document.getElementById('error-msg').classList.remove('d-none');
                document.getElementById('error-msg').textContent = data.message;
            }
        }).catch(err => {
            document.getElementById('error-msg').classList.remove('d-none');
            document.getElementById('error-msg').textContent = err.message;
            console.log(err.message);
        });
    }
</script>
<%- include('./inc/footer.ejs')  %>